name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        gitea: [1.15.7, 1.15.6]
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: ./.
      with:
        gitea-version: ${{ matrix.gitea }}
        args: --version
    - run: gitea --version
    - run: echo "OS_TMPDIR=${{ env.OS_TMPDIR }}"